@font-face
{
	font-family: 'Roarin\' Twenties Counterfeit';
	src: url('Roaring Twenties Counterfeit.ttf');
}

*
{
	font-family: 'Helvetica';
}

#title
{
	font-size: 80px;
	text-align: center;
	font-family: 'Roarin\' Twenties Counterfeit';
	margin: 0;
}

#tutTitle
{
	font-size: 30px;
	text-align: center;
	font-family: 'Roarin\' Twenties Counterfeit';
	margin: 0;
}

#subtitle
{
	text-align: center;
	font-size: 18px;
}

#info
{
	position: absolute;
	right: 20px;
	top: 10px;
}

#help,#contact
{
	padding: 5px;
}

#wrapper
{
	overflow: hidden;
	height: auto;
}

#canvas
{
	padding: 1px;
	height: auto;
}

#myCanvas
{
	/*z-index: -1;*/
	position: relative;
	right: -15px;
	top: -40px;
}

#controls
{
	position: relative;
	float: right;
	top: 15px;
	right: -5px;
	margin: auto;
	overflow:hidden;
	width: auto;
	padding: 10px;
	border-left: solid;
	height: auto;
}

#video
{
	position: relative;
	float: left;
	top: -50px;
	left: 40px;
	margin: auto;
	overflow:auto;
	height: auto;
}

.icon
{
	float:left;
	width:60px;
	height:60px;
	margin:10px;
}

div#icon_gestures
{
	padding: 5px;
	position: relative;
	top: -40px;
	height: auto;
	overflow: hidden;
}

div#gifs img
{
	display: none;
	position: absolute;
	margin: auto;
	overflow:auto;
	width: auto;
	z-index: 0;
}

#dialog,#tutorial,#step1,#step2,#step3
{
	display: none;
	text-align: center;
	font-size: 25px;
	width: 1000px;
	/*line-height: 40px;*/
}

#back
{
	float: left;
}

#next
{
	float: right;
}

#secondrow
{
	/*width: 50%;*/
	position: relative;
	right: -40px;
    margin: 0 auto;
}